.circularSquare {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    vertical-align: middle;
    padding: 10px;
}

.horizontalLayout {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerLayout {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addButton {
    margin: 30px;
    float: right;
}

.pendingInvitesButton {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}
