.button{
    color: #bbbbbb;
    background-color: gray;
    width: 200px;
    height: 100px;
    width: 25%;
    /*add any other properties you want to style*/
  }

  .selectedButton{
    color: #bbbbbb;
    background-color: gray;
    width: 200px;
    height: 100px;
    width: 25%;
    /*add any other properties you want to style*/
  }